{% extends 'base.html'%} {% block content %}
<div class="container">
  <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
  <hr />
  <p>Please enter your new password.</p>
  <form method="POST">
    {% csrf_token %} {% for field in form %}
    <div style="min-height: 5.5rem">
      {{ field.label }}
      <div class="d-flex align-items-center">
        {{ field }}
        <span title="{{ field.help_text }}" class="text-info ms-3">
          {% if field.help_text %}
          <i class="fa fa-question-circle"></i>
          {% endif %}
        </span>
      </div>
      {% for error in field.errors %}
      <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-sm btn-primary" type="submit">Reset password</button>
  </form>
</div>
{% endblock %}
