{% extends 'base.html'%} {% block content %}
<div class="container">
  <h2 class="font-weight-bold mt-3">Reset Password</h2>
  <hr />
  <p>
    Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one.
  </p>
  <form method="POST">
    {% csrf_token %} {% for field in password_reset_form %}
    <div style="min-height: 5.5rem">
      {{ field.label }}
      <div class="d-flex align-items-center">
        {{ field }}
        <span title="{{ field.help_text }}" class="text-info ms-3">
          {% if field.help_text %}
          <i class="fa fa-question-circle"></i>
          {% endif %}
        </span>
      </div>
      {% for error in field.errors %}
      <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-sm btn-primary">Send Mail</button>
  </form>
</div>
{% endblock %}
