{% extends 'base.html'%} {% block content %} {% if not request.user.is_authenticated %}
<div class="text-center">
  <h3>Login</h3>
  <form method="POST" class="w-50 mx-auto bg-light py-5 rounded">
    {% csrf_token %} {{ form.as_p }}
    <div class="mt-4">
      <button type="submit" class="btn btn-sm btn-primary mt-3">Login</button>
    </div>
  </form>
  <p class="mt-3">
    Don't have an account? Please <a href="/accounts/register/">Create New Account</a>
  </p>
</div>
{% else %}
<p class="mt-3">
  You're aleready logged in. Would you like to <a href="/accounts/logout/">logout</a>?
</p>

{% endif %} {% endblock %}
